@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
header{
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

#hero h5{
	color: #C09349;
}

#hero h2{
	font-weight: 700;
	text-align: center;
	font-size: 16px;
}

#hero p{
	padding-top: 2%;
	padding-left: 17%;
	padding-right: 17%;
}

#features p{
	text-align: center;
	
}

#features li{
	text-align: center;
	font-size: 40px;
}



#features{
	align-content: center;
}

#counter{
	background-color: #ecb87d;
	padding-bottom: 7%;
	padding-top: 7%;
	align-content: center;
	color: #fff;
	text-align: center;
}

#counter h2{
	font-weight: 500;
	font-size: 35px;
}


footer{
	text-align: center;
	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	padding-bottom: 7%;
	align-content: center;
}

footer li{
	padding-top: 6%;
	font-size: 20px;
	color: #fff;
}

footer h2{
	color: #fff;
}

footer img{
	padding-top: 3%;
	padding-bottom: 3%;
	align-content:  center;
}

footer p{
	color: #fff;
	text-align: center;
	padding-right: 5%
}

footer li:hover{
	opacity: 50%;
}


