@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
header{
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

#counter {
background-image:url("../img/pattern-1.jpg";
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
    color: #ecb87d;
}


footer{
	text-align: center;
	background-image: url("../img/footer-bg.jpg");
	background-size: cover;
	padding-bottom: 7%;
	align-content: center;
}

footer li{
	padding-top: 6%;
	font-size: 20px;
}

footer img{
	padding-top: 3%;
	padding-bottom: 3%;
	align-content:  center;
}

footer p{
	color: #fff;
	text-align: center;
	padding-right: 5%
}

footer li:hover{
	opacity: 50%;
}


